.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e9e9e9f2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; 
  pointer-events: none;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}