* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

.root {
    display: grid;
    justify-items: center;
    height: 100vh;
    grid-template-rows: auto 1fr;
}